parameters:
    level: 6
    paths:
        - app
        - agent/src
        - config
        - routes
        - tests
    excludePaths:
        - agent/src/autoload.php
    treatPhpDocTypesAsCertain: false
